.profile__header {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin: 74px 0 123px;
}

.profile__input {
    text-align: right;
    background-color: transparent;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    border: 0;
    outline: none;
    padding: 0 0 16px;
}

.profile__label {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 410px;
    border-bottom: 1px solid #E8E8E8;
    margin: 0 auto 17px;
}

.profile__label:last-of-type {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 410px;
    border: none;
    margin: 0 auto;
}

.profile__form {
    display: flex;
    flex-direction: column;
}

.profile__button {
    margin: 220px 0 16px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.profile__button:last-of-type {
    margin: 0 0 70px;
    color: #EE3465;
}