.footer {
    background-color: #F8F8F8;
    padding: 79px 70px 20px;
}

.footer__authors {
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #A0A0A0;
    border-bottom: 1px solid #E8E8E8;
}

.footer__copyright {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    margin: 20px 0 0;
}

.footer__copyright-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__link {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    margin: 20px 0 0 20px;
}